{# extend the original twig file #}
{% sw_extends '@Storefront/storefront/layout/header/logo.html.twig' %}

{# override the original twig block #} 
{% block layout_header_logo_link %}

    {# 
        call the `parent` function to keep the old behavior,
        otherwise the block gets overridden
    #}
    {# {{ parent() }} #}

    {# modified content added to the block #}
    <h1 class="custom_logo">K&star;MOB Shop</h1>
    <div class="subHL">Test Test Test 5</div>
{% endblock %}